html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

:root {
  --primary-color: #708D81;
  --secondary-color: #D4B655;
  --dark-header: #001427;
  --dark-gray:#615f5f; 
  --gray: #ada1a1;
  --light-gray: #d4d1d1;

  --light: #ffffff;
  --dark: #000000;
}

.ant-btn-primary {
    color: var(--light);
    border-color:  var(--primary-color);
    background:  var(--primary-color);
    text-shadow: 0 -1px 0 var(--dark);
    box-shadow: none;
    border-radius: 5px;
}
.ant-btn-primary:hover {
    color: var(--light);
    border-color:   var(--secondary-color);
    background:   var(--secondary-color);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: none;
}
.ant-btn-primary .anticon {
    color: var(--light);
    font-size: 15px !important;
}

.ant-btn-default {
    color: var(--dark);
    border-color:  var(--gray);
    background:  var(--gray);
    text-shadow: 0 -1px 0 var(--dark);
    box-shadow: none;
    border-radius: 5px;
}
.ant-btn-default:hover {
    color: var(--dark);
    border-color:   var(--light-gray);
    background:   var(--light-gray);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: none;
}
.ant-btn-default .anticon {
    color: var(--dark);
    font-size: 15px !important;
}
