
.ant-layout-content {
    min-height: 89vh;
}
/* Меню пользователя */
.user-dropdown {
    float: right;
    display: block;
    color: var(--light-gray);
    z-index: 1000;
    position: relative;
    margin-left: auto;
    line-height: 60px;
}

.user-dropdown a,
.ant-dropdown-link .ant-dropdown-trigger a,
.antblazor-overlay-trigger-wrapper a,
.user-dropdown .ant-dropdown-link a{
    text-decoration: none !important;
    color: var(--light-gray) !important;
    display: inline-block;
    padding: 0 10px;
    line-height: 20px; 
    cursor: pointer;
}
.ant-dropdown-menu {
  width: 100px;
  margin: 0;
}
.ant-dropdown-menu a{
    text-decoration: none;
    color: var(--dark);
}

/* боковое меню и шапка */
.ant-menu {
  background-color: var(--primary-color);
  width: 200px;
  border: none;
}
.sider-menu {
  background-color: var(--primary-color);
  width: 100%;
}

.header {
    background-color: var(--dark-header);
    height: 50px;
    display: inline-block;
    width: 100%;
    padding: 0 50px;
}

.ant-layout-sider-children .ant-layout-header {
  background-color: var(--primary-color);
}

.ant-menu-item a {
  text-decoration: none;
  font-size: 18px;
  color: var(--light);
}
.ant-menu-item a:hover {
    color: var(--secondary-color);
}

.ant-layout-sider .ant-menu-item:hover:not(.ant-menu-item-selected) .anticon svg  {
    color: var(--secondary-color);
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: var(--secondary-color);
  color: var(--light);
}
.ant-menu-item-selected a:hover {
  color: var(--light);
}

.ant-menu-item-selected a:hover .anticon {
  color: var(--light);
}

.anticon-menu-fold,
.anticon-menu-unfold {
  color: var(--light);
  font-size: 25px !important;
}

.site-layout .site-layout-background {
  background: var(--light);
}

.ant-layout-sider .anticon svg {
    color: var(--light);
    font-size: 25px;
}
