.ant-menu {
  background-color: var(--primary-color);
  width: 200px;
  border: none;
}
.sider-menu {
  background-color: var(--primary-color);
  width: 100%;
}

.header {
  background: var(--dark-header);
  height: 50px;
}

.ant-layout-sider-children .ant-layout-header {
  background: var(--primary-color);
}

.ant-menu-item a {
  text-decoration: none;
  font-size: 18px;
  color: var(--light);
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: var(--secondary-color);
  color: var(--light);
}
.ant-menu-item-selected a:hover {
  color: var(--secondary-color);
}

.anticon-menu-fold,
.anticon-menu-unfold {
  color: var(--light);
  font-size: 25px !important;
}

.site-layout .site-layout-background {
  background: var(--light);
}
