@page "/plays"

<PageTitle>Список спектаклей</PageTitle>

<h1>Список спектаклей</h1>
<div class="table-page-header">
    <Button Type="ButtonType.Primary">
        <Icon Type="@IconType.Outline.Plus" />
    </Button>

   <Search Placeholder="Введите название спектакля"  EnterButton="true"/>

    <Button Type="ButtonType.Default">
        <Icon Type="@IconType.Fill.Filter" />
    </Button>
</div>

<Table TItem="Data" DataSource="@data" PageSize="10">
    @foreach (var column in columns)
    {
        <Column TData="object" DataIndex="@column"></Column>
    }
</Table>

@code {
    string[] columns = { "Name", "Duration", "Raiting"};

    Data[] data = new Data[100];

    protected override void OnInitialized()
    {
        for (int i = 0; i < 100; i++)
        {
            data[i] = new Data()
            {
                Key = i.ToString(),
                Name = $"Сказка о рыбаке и рыбке{i}",
                Duration = 120,
                Raiting = 12,
            };
        }
    }
   List<Data> options = new List<Data>();
    public class Data
    {
        [DisplayName("Key")]
        public string? Key { get; set; }

        [DisplayName("Название")]
        public string? Name { get; set; }

        [DisplayName("Продолжительность")]
        public int Duration { get; set; }

        [DisplayName("Рейтинг")]
        public int Raiting { get; set; }
    }
}
